@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');

:root {
  /* Color System */
  --black: #000000;
  --white: #ffffff;
  --noir: '#0A0A0A';
  --midnight: '#2C2D2D';
  --umbra: '#606260';
  --shadow: '#949797';
  --eclips: '#D3D2D0';
  --phantom: '#EBEBEF';
  /* Atlas */
  --neon-green: '#';
  --sky-blue: '#';
  --dark-navy: '#';
}

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'monospace', 'Courier New', Courier, monospace;
}
