@import 'tailwindcss';

:root {
  --primary: '#000000';
  --secondary: '';
  --tertiary: '';
}

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'monospace', 'Courier New', Courier, monospace;
}
